name: Container CI/CD Pipeline

on: [push]

jobs:
  build_and_push:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image from specific path
        run: |
          docker build -t myapp-image:latest ./ci-with-test

      - name: Tag Docker Image (if pushing)
        run: |
          docker tag myapp-image:latest mydockerhub/myapp:latest

      - name: Push Image to Docker Hub (optional)
        run: |
          docker push mydockerhub/myapp:latest
